{% extends "layout.html" %}

{% block content %}
        <div class="alert alert-success" role="alert">
        <br>
          <h2>Submission and Format:</h2>
          <p><b> Please upload a file. Files should be submitted in <font face="courier">.newick</font> form. When entering species names, please avoid using quotation marks and/or unnecessary whitespace.</b></p>
        </div>

      <style>
        .control:checked ~ .conditional{
          display: block;
        }

        .control:not(:checked) ~ .conditional{
          display: none;
        }
      </style>

      <form enctype="multipart/form-data" action="/reconcile" method="post">
      <br>
      <div class = "row">
        <div class = "col-lg-12">
          <div class = "panel panel-info">
            <div class = "panel-heading"> 
            <label><h3>Inputs for file:</h3></label>
            </div>
            <div class = "container">
              <br><label>Select a file to upload:</label><input type="file" name="newick">
              <br><label>Please enter costs for the events. Also, remember that all weights are strictly positive (nonzero).</label>
              <div class = "col-lg-6">
                <br><label>Duplication:</label><input type="text" name="dup" class="form-control" placeholder="Default: 2"><br>
                <label>Transfer:</label><input type="text" name="trans" class="form-control" placeholder="Default: 3"><br>
                <label>Loss:</label><input type="text" name="loss" class="form-control" placeholder="Default: 1" ><br>  
                <label>Which scoring function would you like to use?<br> <small>(Default: Unit Frequency)</small></label><br>
                <div class = "radio">
                  <input type="radio" name="scoring" value="Frequency">Frequency <br><br>
                  <input type = "radio" class = "control" name = "scoring"  value = "xscape"> Xscape Scoring
                  <fieldset class = "conditional">
                    <label><h5><font color="green">Inputs for Xscape Scoring:</font></h5></label>
                    <br>
                    <div class = "container">
                      <div class = "col-lg-4"> 
                        <label>Switch low value:</label><input type = "text" name = "switchlow" class = "form-control" placeholder = "Default: 1.5"><br>
                        <label>Switch high value:</label><input type = "text" name = "switchhigh" class = "form-control" placeholder = "Default: 4.5"><br>
                        <label>Loss low value:</label><input type = "text" name = "losslow" class = "form-control" placeholder = "Default: 1"><br>
                        <label>Loss high value:</label><input type = "text" name = "losshigh" class = "form-control" placeholder = "Default: 3"><br>    
                      </div>
                    </div>
                  </fieldset><br> <br>
                  <input type = "radio" name = "scoring" value = "unit" checked> Unit Scoring <br><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <h3><input type="submit" value="Submit"></h3><br>

      </form>
{% endblock %}