<!DOCTYPE html>
<html lang="en">
  <head>
  {% block head %}
    <link rel="stylesheet" href="{{url_for('.static', filename = 'customize.min.css')}}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="static/DTLogoFinal.png">
    <title>DTL-RnB Home</title>
  {% endblock %}
</head>
<body background = "static/Green.jpg" width="100%" height="100%">
 <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/index">
          <img alt="DTLLogo" src="static/DTLogoFinalSmall.png">
          <!-- Navigate <font face="futura">DTL-RnB</font> -->
          </a>
        </div>

          <ul class="nav navbar-nav">
            <li
            {% if page == 'home' %}
            class="active"
            {% endif %}
            ><a href="/index">Home</a></li>
            <li
            {% if page == 'upload' %}
            class="active"
            {% endif %}
            ><a href="/form">Upload Files</a></li>
          </ul>

      </div>
    </nav>
    <br>
    <br>

    <div class = "container" role="main">
    {% block content %}{% endblock %}
    </div>
  </body>
</html>
