{% extends "layout.html" %}

{% block content %}
      <div class="alert alert-success" role="alert">
      <br>
        <h1>Documentation</h1>
        <p>The <font face="courier">.newick</font> file submitted should contain the name of a file containing the species (host) tree and the gene (parasite) tree in newick format, followed by the associations between their leaves (one line per association in the format gene:species).</p></div>
        <pre>
        Example:       
        ((h6, h7) h1, (h8, (h10, (h12, (h14, (h16, h17) h15) h13) h11) h9) h2) h0;
        ((p18, p19) p4, ((p22, (p24, p25) p23) p20, (p26, ((p30, p31) p28, (p32, p33) p29) p27) p21) p5) p3;
        p26:h10     
        p25:h8    
        p24:h7    
        p19:h7  
        p31:h14 
        p18:h6    
        p33:h17     
        p32:h16     
        p22:h6      
        p30:h12    
        </pre>      

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <div class="col-lg-3">
          <div class = "alert alert-info  " role="alert">
            <center>
            <a href="/form">Back to the upload page</a>
            </center>
          </div>
        </div>
    </div>
    
{% endblock %}
